@import "tailwindcss";

:root {
  --background: theme("colors.zinc.100");
  --foreground: theme("colors.zinc.950");
  --primary: theme("colors.emerald.500");
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-mono: var(--font-mono);
  --breakpoint-xs: 30rem;
}

@layer components {
  .container-shadow {
    @apply shadow-md/20;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), "Futura", "Avenir", sans-serif;
}
